html, body {
    width: 230px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #141414;
    color: #ffffff;
}

.hidden {
    display: none !important;
}

#titleBar {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 7px;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.button {
    text-align: center;
    margin: auto;
    display: block;
    width: 110px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 9px 10px;
    text-decoration: none;
    border-radius: 8px;
}

.enable {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.enable:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    background: linear-gradient(135deg, #7e8cfd, #AC79EB);
}


.disable {
    background: #ffc078 linear-gradient(135deg, #ffc078, #ffa8a8);
}

.disable:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    background: linear-gradient(135deg, #ffc078, #ffd860);
}

table {
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

th, td {
    padding: 5px;
}

#reloadPage{
    color: #656565;
}

select {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #ffffff;
    text-align:center;
    padding: .6em 1.8em .5em .4em;
    border: 1px solid #000;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(135deg, #7e8cfd, #AC79EB);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

select option {
    background: #8e61c1;
}

select:hover {
     border-color: #8e61c1;
 }

